#drop {
    background-color: rgb(255, 229, 229);
}

#drop :hover {
        background-color: #353535;
}

body {
    background-color: rgb(255, 229, 229);
}

p {
    text-align: justify;
}

p:hover, a:hover {
    background-color: yellow;
}