@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to iHealth</h2>
    <p class="lead">Where Care Comes First</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Media/find_doctors.jpg" />
        <h2>Find Doctors</h2>
        <p>
            Get the best in health care with the help of our highly qualified doctors. Click the button below to get started.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Find Doctors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/appointment.jpg" />
        <h2>Create Appointments</h2>
        <p>Setting up appointments has never been so easy. Its just a registration and few clicks away.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Book Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/statistics.jpg" />
        <h2>View Statistics</h2>
        <p>Want to know how well we are doing? Check it out yourself.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Show Statistics &raquo;</a></p>
    </div>
</div>