@model HealthAppointmentsManagement.Models.ADMIN

@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <h1 class="display-5">Registration Form</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <p class="lead">Welcome @Session["UserName"].ToString()! What account to you want to create?</p>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <h1 class="display-6 pb-1">Doctor Registration</h1>
            <img src="~/Media/doctor.png" />
            <p class="lead">Create a Doctor</p>
            <a href="../Doctors/Create" type="button" class="btn btn-outline-primary">Create</a>
            <h1 class="display-6 pb-1">Patient Registration</h1>
            <img src="~/Media/patient.png" />
            <p class="lead pt-2">Create a Patient</p>
            <a href="../Patients/Create" type="button" class="btn btn-outline-primary">Create</a>
        </div>
    </div>
</div>
<br>